.nodes-panel {
    padding: 10px;
  }
  
  .dndnode {
    padding: 10px;
    border: 1px solid #ddd;
    margin-bottom: 10px;
    cursor: grab;
  }
  
  .dndnode span {
    display: block;
    text-align: center;
  }
  